<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cad2D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Cad2D.Properties.Settings>
            <setting name="CameraIP" serializeAs="String">
                <value>192.168.0.2</value>
            </setting>
            <setting name="CameraPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PLCIP" serializeAs="String">
                <value>192.168.0.10</value>
            </setting>
            <setting name="PLCPort" serializeAs="String">
                <value>2004</value>
            </setting>
            <setting name="DefaultPass" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value>$2a$10$YhtPJ2KYImFOm0lDbRs93u55GO9BhD5w0GPrToJcn2MwhzOx/Hzd.</value>
            </setting>
            <setting name="VelocityMem" serializeAs="String">
                <value>955</value>
            </setting>
            <setting name="PLCInformationMem" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="VerticalScan" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="VerticalEdge" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="HorizontalScan" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="HorizontalEdge" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ScanAriaSegment" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="VerticalBoundrySegment" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HorizonalBoundrySegment" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="BridgeOptionMem" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ClampMem" serializeAs="String">
                <value>970</value>
            </setting>
            <setting name="XEncoderMem" serializeAs="String">
                <value>980</value>
            </setting>
            <setting name="YEncoderMem" serializeAs="String">
                <value>984</value>
            </setting>
            <setting name="EdgeMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EdgeMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DiskDiameter" serializeAs="String">
                <value>50</value>
            </setting>
        </Cad2D.Properties.Settings>
    </userSettings>
</configuration>
